spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/order
    username: ${POSTGRES_USER}
    password: ${POSTGRES_PASS}
  jpa:
    database: POSTGRESQL
    show-sql: true
    hibernate:
      ddl-auto: update
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    properties:
      hibernate:
        jdbc:
          time_zone: UTC
  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest

#  h2:
#    console:
#      enabled: true
#  datasource:
#    url: jdbc:h2:mem:test
#  jpa:
#    show-sql: true
#    hibernate:
#      ddl-auto: create

server:
  port: 8083

management:
  endpoints:
    web:
      exposure:
        include: "*"
